<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بيانات السيرفر</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>معلومات السيرفر</h1>
        <p>مالك السيرفر: {{ server["owner"] }}</p>
        <p>اسم السيرفر: {{ server["name"] }}</p>
        <p>عدد الأعضاء: {{ server["member_count"] }}</p>=
        <p><b>عدد البوتات:</b> {{ server.bot_count }}</p>
        <p><b>عدد القنوات:</b> {{ server.channel_count }}</p>
        <a href="/" class="logout-btn">العودة</a>
    </div>
</body>
</html>
